# DATASET HORACIO

### INSTALL LIBRARIES

In [1]:
import pandas as pd
import psycopg2 as pg

### POSTGRES CONNECTION

In [2]:
conn = pg.connect("dbname=postgres user=postgres password=saude123")

### IMPORT DATA

In [3]:
city_state = pd.read_sql_query ('''
select code6 as city_ibge_code_06,code7 as city_ibge_code_07,state from socioeconomic_cities
''', conn)

code7_6 = pd.read_sql_query ('''
select code7 as city_ibge_code_07,code6 as city_ibge_code_06 from socioeconomic_cities sc 
''', conn)

brasil_io = pd.read_sql_query ('''
select state,city_name,city_ibge_code_07,date,last_available_deaths as deaths,estimated_population from brasil_io 
where place_type = 'city'
order by city_name,date
''', conn)

str_index = pd.read_sql_query ('''
select 
state,
date, 
stringency_index 
from oxford_measures
where jurisdiction = 'STATE_GOV' and city_name is null or city_name = ''
order by state,date
''',conn)

vacc = pd.read_sql_query('''
select date,state,city_ibge_code_06,sum(doses) as doses from si_pni_reduced
where (vaccine_dose = 'D2' or vaccine_dose = 'D_unica')
group by date,state,city_ibge_code_06
''',conn)

### IBGE CODE

In [4]:
city_state['city_ibge_code_06'] = city_state['city_ibge_code_06'].map(int)
city_state = city_state.set_index('city_ibge_code_06')['state'].to_dict()
code7_6['city_ibge_code_07'] = code7_6['city_ibge_code_07'].map(int)
code7_6['city_ibge_code_06'] = code7_6['city_ibge_code_06'].map(int)
code7_6 = code7_6.set_index('city_ibge_code_07').to_dict()['city_ibge_code_06']

### BRASIL IO

In [5]:
brasil_io.dropna(subset=['city_ibge_code_07'],inplace=True)
brasil_io['city_ibge_code_07'] = brasil_io['city_ibge_code_07'].map(int).map(code7_6)
brasil_io['date'] = pd.to_datetime(brasil_io['date'])
brasil_io.rename({'city_ibge_code_07':'city_ibge_code_06'},axis=1,inplace=True)
brasil_io['mmyyyy'] = brasil_io['date'].dt.month.map(str) + '/' + brasil_io['date'].dt.year.map(str)

### STRINGENCY INDEX

In [6]:
str_index['date'] = pd.to_datetime(str_index['date'])
str_index['mmyyyy'] = str_index['date'].dt.month.map(str) + '/' + str_index['date'].dt.year.map(str)
str_index = str_index.groupby(['state','mmyyyy']).mean().reset_index()

### VACCINE

In [7]:
vacc = vacc[vacc['city_ibge_code_06']!='']
vacc['date'] = pd.to_datetime(vacc['date'])
vacc['city_ibge_code_06'] = vacc['city_ibge_code_06'].map(int)
vacc['mmyyyy'] = vacc['date'].dt.month.map(str) + '/' + vacc['date'].dt.year.map(str)
vacc = vacc.groupby(['city_ibge_code_06','mmyyyy']).sum().reset_index()
vacc = vacc.groupby(['city_ibge_code_06','mmyyyy']).sum().reset_index()

### MERGE TABLES

In [8]:
dataset = brasil_io.merge(right=vacc,on=['city_ibge_code_06','mmyyyy'])
dataset['state'] = dataset['city_ibge_code_06'].map(city_state)
dataset.merge(right=str_index,on=['mmyyyy','state'])

,state,city_name,city_ibge_code_06,date,deaths,estimated_population,mmyyyy,doses,stringency_index
0,GO,Abadia de Goiás,520005,2021-02-01,10,8958.0,2/2021,93.0,46.300000
1,GO,Abadia de Goiás,520005,2021-02-02,10,8958.0,2/2021,93.0,46.300000
2,GO,Abadia de Goiás,520005,2021-02-03,10,8958.0,2/2021,93.0,46.300000
3,GO,Abadia de Goiás,520005,2021-02-04,11,8958.0,2/2021,93.0,46.300000
4,GO,Abadia de Goiás,520005,2021-02-05,11,8958.0,2/2021,93.0,46.300000
...,...,...,...,...,...,...,...,...,...
2355175,RO,Vilhena,110030,2021-01-27,107,102211.0,1/2021,1.0,52.687742
2355176,RO,Vilhena,110030,2021-01-28,111,102211.0,1/2021,1.0,52.687742
2355177,RO,Vilhena,110030,2021-01-29,111,102211.0,1/2021,1.0,52.687742
2355178,RO,Vilhena,110030,2021-01-30,111,102211.0,1/2021,1.0,52.687742
2355179,RO,Vilhena,110030,2021-01-31,111,102211.0,1/2021,1.0,52.687742

### EXPORT DATA

In [ ]:
dataset.to_csv("dataset.csv")